body {
    background-color: rgb(90, 86, 86);
    overflow-x: hidden;
    color: #FFFFFF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    background-color: #FBFCF8;
}
  
li {
    float: right;
}

li#title {
    float: left;
    font-size: 25px;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: red;
}

li a{
    display: block;
    text-align: center;
    padding: 15px 12px;
    text-decoration: none;
    color: black;
}

li a:hover {
    background-color: #EAEBE7;
    color: red;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    text-align: center;
}

table {
    width: 500px;
    height: 500px;
    z-index: -1;
}

caption {
    font-size: 30px;
}

table#t01 {
    position: relative;
    left: 50px;
}

p {
    position: relative;
    left: 50px;
}

table#t02 {
    position: relative;
    left: 800px;
    right: 50px;
}

table#t03 {
    position: relative;
    left: 50px;
}

td {
    background-color: rgb(184, 44, 44);
    color: #FFFFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#important {
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
