body {
    background: no-repeat center fixed;
    background-size: cover;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    background-color: #FBFCF8;
}
  
li {
    float: right;
}

li#title {
    float: left;
    font-size: 25px;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: rgb(184, 44, 44);
    font-family: Arial, Helvetica, sans-serif;
}
  
li a{
    display: block;
    text-align: center;
    padding: 15px 12px;
    text-decoration: none;
    color: black;
}

li a:hover {
    background-color: #EAEBE7;
    color: rgb(184, 44, 44);
}

h1 {
    position: relative;
    color: white;
    font-size: 45px;
    top: 10%;
    left: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
    position: relative;
    top: 50px;
    left: 165px;
    color: #FFFFFF;
}

ol li {
    position: absolute;
    left: 200px;
    color: rgb(224, 224, 224);
}

div {
    color: white;
    position: relative;
    left: 30px;
}

span {
    background-color: rgb(184, 44, 44);
    text-align: left;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div > p {
    position: relative;
}
